<!DOCTYPE html>
<html>
<head>
<title>Pragprog Books Online Store</title>
<%= stylesheet_link_tag "application", media: "all",
  "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("p4.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
<div id="columns">
  <div id="side">
    <ul>
      <li><a href="http://www.fixnix.co">Home</a></li>
      <li><a href="http://www.stackoverflow.com">Questions</a></li>
      <li><a href="http://www.timesofindia.com">News</a></li>
      <li><a href="http://www.fb.com">Contact</a></li>
    </ul>
  </div>
  <div id="main">
    <%= yield %>
 </div>
</div>
</body>
</html>

